<div class="text-center" style="padding-top: 18%;font-family: Alfa Slab One;vertical-align: middle;">
  <% if !current_user %>
    <h3 class="responsive-home_text" style="color:white;"><strong>Please <a href="/sessions/new">Sign in</a> or <a href="/users/new">Sign up</a> to use this App</strong></h3>
  <% else %>
    <p style="color:white;">Find a Eat-out</p>
    <%= form_for(@business)  do |f| %>
      <%= f.text_field :term, placeholder: "food type",id: "place", class: "responsive-home-input", :style => "border-radius:2px;" %>
      <%= f.text_field :location, placeholder: "City", id: "input", class: "responsive-home-input" %>
      <%= f.submit "Look up", class: "btn btn-outline-secondary responsive-button responsive-search",id: "demo", :style => "margin-left: -5.5px; border-radius:2px;"%>
    <% end %>
  <% end %>
</div>


