<%= form_tag sessions_path do %>
  <div class="text-center" style="height:initial;padding:100px 0px;opacity:0.6;background-color:transparent;margin:0px auto;width:80%;">
    <div style="margin:0px 0px 10px 0px;">
      <%= text_field_tag :email, params[:email], placeholder: "Email", class: 'responsive-input',:required => true  %>
    </div>
    <div style="margin:0px 0px 10px 0px;">
      <%= password_field_tag :password, "",placeholder: "Password",class: 'responsive-input',:required => true %>
    </div>
    <div style="margin:0px 0px 10px 0px;">
      <%= submit_tag "Log In", class: 'btn btn-outline-secondary responsive-button fa-fa google' %>
    </div>
  </div>
<% end %>
